    .divPai {
        width: 250vh;
        height: 100px;
        background-color: rgb(31, 164, 187);

    }

    .divA {
        width: 250vh;
        height: 100px;
        background-color: #c6d7d6e0;

    }

    .divB {
        width: 250vh;
        height: 100px;
        background-color: rgb(31, 164, 187);

    }

    .divC {
        width: 250vh;
        height: 100px;
        background-color: #c6d7d6e0;

    }

    .divD {
        width: 250vh;
        height: 100px;
        background-color: rgb(31, 164, 187);
    }

    .divE {
        width: 250vh;
        height: 100px;
        background-color: rgb(#c6d7d6e0);
    }

    .divE {
        width: 250vh;
        height: 100px;
        background-color: rgb(31, 164, 187);
    }